In [1]:
shopping = ["bread","milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
for item in shopping:
    print(item)

bread
milk
eggs

In [3]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [4]:
for item in mixed:
    print(item)

365
days
True

In [5]:
m = [[1, 2, 3], [4, 5, 6]]

In [7]:
print(m[1][1])

5

In [10]:
print(m[0][2])

3

In [12]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [13]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [14]:
employees = [["John McKee", 38, "Sales"], ["Lisa Crawford", 29, "Marketing"], ["Sujan Patel", 33 , "HR"]]
print(employees[1])

['Lisa Crawford', 29, 'Marketing']

In [15]:
print(employees)

[['John McKee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [16]:
for item in employees:
    print(item)

['John McKee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [17]:
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print("-" * 20)

Name: John McKee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [18]:
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print("-" * 20)

Name: John McKee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [19]:
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department:", employee[2])
print("-" * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

In [21]:
employees = [{"name": "John Mckee", "age":38, "department":"Sales"},{"name": "Lisa Crawford", "age":29, "department":"Marketing"}, {"name": "Sujan Patel", "age":33, "department":"HR"}
]
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [22]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

SyntaxError: invalid character in identifier (<ipython-input-22-06929fb4ef2a>, line 2)

In [26]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

SyntaxError: invalid character in identifier (<ipython-input-26-52f92f383497>, line 2)

In [27]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [31]:
for employee in employees:
    if employee['name'] == 'Sujan Patel':
        print ("Name:", employee['name'])
        print ("Age:", employee['age'])
        print ("Department:", employee['department'])
        print ("-" * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [32]:
todo = ["pick up laundry", "buy Groceries", "pay electric bills"]
print(todo)

['pick up laundry', 'buy Groceries', 'pay electric bills']

In [34]:
User = {
    "first_name": "Jack",
    "last_name": "White",
    "age": 41,
    
}

SyntaxError: invalid character in identifier (<ipython-input-34-1658eb983bce>, line 2)